Dockerfile
.dockerignore
.env
node_modules
.next
.yarn
npm-debug.log
*.log
README.md
.git
.editorconfig
.gitattributes
.pnp.cjs
.pnp.loader.mjs
.vscode
.dist

readme_materials

.storybook
*.mdx
*.stories.@(js|jsx|ts|tsx)
*.story.@(js|jsx|ts|tsx)

src/mocks